# <span style="color:darkblue"> QTM 151 - Quiz 3 </span>

## Try to submit as an HTML file

<font size="5"> 

Print your name below

In [1]:
# Write your answer here
print("Carissa Wu")

Carissa Wu

<font size = "5" >
This quiz is open book 

- You can use the lecture notes
- You will get partial credit for attempting the questions
- To get full credit, the code should run as intended
- You should <span style="color:red"> NOT </span> communicate with other students

Print the following message: <br>

"I will abide by Emory's code of conduct"

In [2]:
# Write your answer here:

print("I will abide by Emory's Code of conduct")

I will abide by Emory's Code of conduct

<font size = "5">

Import the libraries "numpy" and "pandas"

In [3]:
# Write your answer here
import numpy as np
import pandas as pd


<font size = "5">

(a) Replace the values of a column

<font size = "3">

- Import the "data_raw/constructor_standings.csv" file
- Replace the values "E" with 11 in the column "positionText"
- Create a new column "positionNumeric" that converts <br>
the modified "positionText" column from string to numeric <br>
using ```pd.to_numeric()```

HINT: See the example in Lecture 13

In [10]:
# Write your own code
const_standings =pd.read_csv("data_raw/constructor_standings.csv")

const_standings["positionText"] = const_standings["positionText"].replace("E", 11)

const_standings["positionNumeric"] = pd.to_numeric(const_standings["positionText"])

unique_values = pd.unique(const_standings["positionNumeric"])
print(unique_values)

[ 1  3  2  4  5  6  8  7  9 10 11 12 13 14 15 18 17 16 19 20 21 22]

<font size = "5">

(b) Recode a numeric colum

<font size = "3">

- Import the "data_raw/races.csv" file
- Recode the "year" column into a new column "year_brackets" <br>
with the following categories

$\qquad$ ``` ["1950-1970","1971-1990","1991-2005", "2006-2020", "2020-onwards"] ```

$\qquad$ HINT: Use the "pd.cut()" command. See Lecture 13

In [53]:
# Write your own code
races_raw = pd.read_csv("data_raw/races.csv")

bins_x = [1950, 1970, 1990, 2005, 2019, 2030]
labels_x = ["1950-1970",
            "1971-1990",
            "1991-2005",
            "2006-2019",
            "2020-onwards"]

races_raw["year_brackets"] = pd.cut(races_raw["year"],
                              bins = bins_x,
                              right = True,
                              labels = labels_x)
races_raw

,raceId,year,round,circuitId,name,date,time,url,fp1_date,fp1_time,fp2_date,fp2_time,fp3_date,fp3_time,quali_date,quali_time,sprint_date,sprint_time,year_brackets
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N,2006-2019
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N,2006-2019
2,3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N,2006-2019
3,4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N,2006-2019
4,5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N,2006-2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1097,1116,2023,19,69,United States Grand Prix,2023-10-22,19:00:00,https://en.wikipedia.org/wiki/2023_United_Stat...,2023-10-20,17:30:00,2023-10-21,18:00:00,\N,\N,2023-10-20,21:00:00,2023-10-21,22:00:00,2020-onwards
1098,1117,2023,20,32,Mexico City Grand Prix,2023-10-29,20:00:00,https://en.wikipedia.org/wiki/2023_Mexico_City...,2023-10-27,18:30:00,2023-10-27,22:00:00,2023-10-28,17:30:00,2023-10-28,21:00:00,\N,\N,2020-onwards
1099,1118,2023,21,18,São Paulo Grand Prix,2023-11-05,17:00:00,https://en.wikipedia.org/wiki/2023_S%C3%A3o_Pa...,2023-11-03,14:30:00,2023-11-04,14:30:00,\N,\N,2023-11-03,18:00:00,2023-11-04,18:30:00,2020-onwards
1100,1119,2023,22,80,Las Vegas Grand Prix,2023-11-19,06:00:00,https://en.wikipedia.org/wiki/2023_Las_Vegas_G...,2023-11-17,04:30:00,2023-11-17,08:00:00,2023-11-18,04:30:00,2023-11-18,08:00:00,\N,\N,2020-onwards
1101,1120,2023,23,24,Abu Dhabi Grand Prix,2023-11-26,13:00:00,https://en.wikipedia.org/wiki/2023_Abu_Dhabi_G...,2023-11-24,09:30:00,2023-11-24,13:00:00,2023-11-25,10:30:00,2023-11-25,14:00:00,\N,\N,2020-onwards

<font size = "5">

(c) Aggregate and query

<font size = "3">

- Import the "data_raw/constructor_standings.csv" file
- Subset the observations for 'raceId == 10' using ```.query()```
- Obtain the sum of "points" by "constructorId" <br> 
(the team) using ``` .groupby().agg() ```
- Subset the teams with a sum of points $\ge 50$
- Store the results of all these operations in a dataframe <br>
```constructor_standings_agg ```

In [34]:
# Write your own code
#aleardy ran import command, so I'm not going to run it again
#const_standings =pd.read_csv("data_raw/constructor_standings.csv")
# subset_conststandings = const_standings.query("raceId == 10")
# agg_subset = (subset_conststandings.groupby(["constructorId", "points"])
#               .agg(points_sum = ("points", "sum")))

# agg_subset
# agg_subset_50 = agg_subset.query("points_sum >= 50")
# agg_subset_50
constructor_standings_agg = (const_standings.query("raceId == 10")
                             .groupby(["constructorId", "points"])
                            .agg(points_sum = ("points", "sum"))
                             .query("points_sum >= 50"))
constructor_standings_agg

                      points_sum
constructorId points
9             98.5          98.5
23            114.0        114.0

<font size = "5">

(d) Aggregate and sort

<font size = "3">

- Import the "data_raw/constructor_standings.csv" file
- Obtain the sum of "points" by "constructorId" <br> 
(the team) using ``` .groupby().agg() ```
- Sort the teams in descending order using of <br>
the sum of points using ``` .sort_values() ```

In [37]:
# Write your own code
#aleardy ran import command, so I'm not going to run it again
#const_standings =pd.read_csv("data_raw/constructor_standings.csv")
sum_points = (const_standings
              .groupby(["constructorId", "points"])
              .agg(points_sum = ("points", "sum"))
              .sort_values(by= "points_sum", ascending = False))


sum_points

                      points_sum
constructorId points
131           701.0       1402.0
9             426.0       1278.0
6             374.0       1122.0
9             272.0       1088.0
131           540.0       1080.0
...                          ...
210           0.0            0.0
59            0.0            0.0
180           0.0            0.0
179           0.0            0.0
1             0.0            0.0

[2853 rows x 1 columns]

<font size = "5">

(e) Rename column

<font size = "3">

- Import the "data_raw/constructor_standings.csv" file
- Rename the column "wins" to "wins_constructor"

HINT: Create a dictionary and use ```.rename(columns = ...)``` <br>
See Lecture 15

In [41]:
# Write your own code
#aleardy ran import command, so I'm not going to run it again
#const_standings =pd.read_csv("data_raw/constructor_standings.csv")


dict_rename_column = {"wins": "wins_constructor"}
const_standings = const_standings.rename(columns = dict_rename_column)

const_standings

,constructorStandingsId,raceId,constructorId,points,position,positionText,wins_constructor,positionNumeric
0,1,18,1,14.0,1,1,1,1
1,2,18,2,8.0,3,3,0,3
2,3,18,3,9.0,2,2,0,2
3,4,18,4,5.0,4,4,0,4
4,5,18,5,2.0,5,5,0,5
...,...,...,...,...,...,...,...,...
12936,28408,1098,210,0.0,6,6,0,6
12937,28409,1098,1,0.0,7,7,0,7
12938,28410,1098,131,0.0,8,8,0,8
12939,28411,1098,9,0.0,9,9,0,9
12940,28412,1098,3,0.0,10,10,0,10

<font size = "5">

(f) Merge dataset

<font size = "3">

- Import the "data_raw/constructor_standings.csv" and <br>
"data_raw/constructors.csv" files
- Create a new dataset with  ```pd.merge()``` using <br>
"constructor_standings" as the primary dataset, and <br>
"constructors" as the secondary dataset, merging on <br>
the column "constructorId"
- To get full points **ONLY** merge the "nationality" column <br>
from the secondary dataset (not all the columns)

HINT: Use ```[[...]]``` to extract a subset of columns <br>
from the secondary dataset before merging, including the <br>
"constructorId" column

In [47]:
# Write your own code
#aleardy ran import command, so I'm not going to run it again
#const_standings =pd.read_csv("data_raw/constructor_standings.csv")
constructors = pd.read_csv("data_raw/constructors.csv")
new_merged = pd.merge(const_standings,
               constructors[["constructorId", "nationality"]],
               on = "constructorId",
               how = "left")
print(pd.unique(const_standings.columns))
print(pd.unique(new_merged.columns))

['constructorStandingsId' 'raceId' 'constructorId' 'points' 'position'
 'positionText' 'wins_constructor' 'positionNumeric']
['constructorStandingsId' 'raceId' 'constructorId' 'points' 'position'
 'positionText' 'wins_constructor' 'positionNumeric' 'nationality']